.pah .pah156_loaded,
body.pah156_loaded {
    & .layout-pdp {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        
        & .scroller {
            order: 0;
        }
        
        & .pdp-heading-ratings {
            order: 1;
        }
        
        & [data-module="pdp_price"] {
            order: 2;
        }
    }
}