.pah .pah156_loaded,
body.pah156_loaded {
    & .pah156-layout-pdp {
        --slide-size: 160px;
        
        padding: .8em;
        color: #2A2A2A;
        font-size: 20px;
        background: #fff;
        font-family: "Museo", sans-serif;
        
        display: flex;
        align-items: center;
        flex-direction: column;
        
        & .swiper-wrapper {
            display: grid;
            grid-template-rows: var(--slide-size);
            grid-template-columns: repeat(var(--slide-size), auto);

            width: var(--slide-size);
            height: var(--slide-size);

            & .swiper-slide {
                grid-row: 1;
                transition: opacity 500ms;

                &:not(.swiper-slide-active) {
                    opacity: 0;
                }
            }
        }

        & .pah156-title-container {
            margin: 1.2em 0;
            
            & .pah156-title {
                font-size: 1em;
                line-height: 1.33;
                margin-bottom: 0.6em;
            }
            
            & .pah156-reviews {
                display: flex;
                font-size: .8em;
                align-items: center;
            }
        }

        & .pah156-reviews-rating {
            display: flex;
            margin-left: 0.4em;

            & .stars {
                display: flex;
                margin-right: 0.2em;

                & svg { 
                    &:not(:last-child) {
                        margin-right: 0.2em;
                    }

                    & path {
                        fill: #14B65A;
                    }
                } 

                &[score="4"] svg:nth-child(4) ~ svg path,
                &[score="3"] svg:nth-child(3) ~ svg path,
                &[score="2"] svg:nth-child(2) ~ svg path,
                &[score="1"] svg:nth-child(1) ~ svg path,
                &[score="0"] svg path {
                    fill: #737373;
                }
            }

            & .amount {
                color: #0D754F;
                font-weight: bold;
                transform: translateY(0.1em);
            }
        }

        & .pah156-price {
            width: 100%;
            font-size: 1.6em;

            display: grid;
            grid-row-gap: .25em;
            grid-column-gap: .25em;
            grid-template-rows: repeat(2, auto);
            grid-template-columns: repeat(3, auto);

            & .saving {
                grid-row: 1;
                grid-column: 1 / span 3;
                
                &:empty {
                    display: none;
                }
            }

            & .now,
            & .was,
            & .normalised {
                grid-row: 2;
            }
            & .now {
                font-size: 1em;
                grid-column: 1;
                font-weight: bold;
            }
            
            & .was {
                grid-column: 2;
                color: #B2B2B2;
                font-size: .625em;
                align-items: flex-start;
                justify-content: flex-start;
            }

            & .normalised {
                color: #737373;
                grid-column: 3;
                font-size: 0.5em;
                display: inline-flex;
                align-items: flex-end;
                justify-content: flex-end;
            }
        }

        & + .layout-pdp {
            display: none;
        }
    }
}